@import './App.json';

.base {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	position: relative;
	
	.picker {
		position: absolute;
		left: 0;
		top: 0;
		width: #{$pickerWidth}px;
		height: #{$pickerHeight}px;

		.colorcode {
			font-family: sans-serif;
			background-color: black;
			color: white;
			padding: 2px 4px;
			margin-bottom: 2px;
		}

		canvas {
			display: block;
			border: 1px solid black;
		}
	}
}
