$header-height: 52px;
$footer-height: 36px;

.base {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;

	* {
		font-family: sans-serif;
	}
}

.header {
	position: absolute;
	height: $header-height;
	width: 100%;
	-webkit-app-region: drag;
	padding-top: 24px;
	padding-bottom: 8px;

	input[type='text'] {
		$m: 8px;

		width: calc(100% - #{$m} * 2);
		margin: 0 $m;
		-webkit-app-region: no-drag;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	height: $footer-height;
	box-sizing: border-box;
	padding: 5px 10px;
	z-index: 1;

	input[type='text'] {
		padding: 4px 8px;
		margin-right: 8px;
	}

	button {
		padding: 4px 8px;
		font: inherit;
		border-radius: 4px;
		border: none;
		-webkit-app-region: no-drag;
		outline: none;
		cursor: pointer;
	}
}

.colors {
	position: absolute;
	top: $header-height;
	width: 100%;
	height: calc(100% - #{$footer-height} - #{$header-height});
	overflow: scroll;
}

input[type='text'] {
	font: inherit;
	border: none;
	background: transparent;
	outline: none;
}
